<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}leShow{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('/assets/css/main.css') }}" />

    </head>
    <body>
        {% block header %}
            <header id="header">
                <a href="{{ url('user_homepage') }}" class="title">leShow</a>
                <nav>
                    <ul>
                        <li><a href="{{ url('user_homepage') }}">{{'user.home' | trans() }}</a></li>
                        <li><a href="{{ url('user_profile_show') }}">{{'user.profile.view' | trans() }}</a></li>
                        <li><a href="{{ url('spectate_listing_view') }}">{{'spectate.view' | trans() }}</a></li>
                        {% if is_granted("ROLE_SPECTATOR") %}
                        <li><a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% endblock header %}

        {% block sidebar %}
        <section id="sidebar">
            <div class="inner">
                <nav>
                    <ul>
                        <li><a href="#intro">
                            {% if is_granted("ROLE_SPECTATOR") %}
                            Welcome {{ app.user.firstName }} {{ app.user.lastName }}
                            {% else %}
                            Welcome
                            {% endif %}
                            </a>
                        </li>      
                        <li><a href="#one">Who we are</a></li>
                        <li><a href="#two">What we do</a></li>
                        <li><a href="#three">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        {% endblock sidebar %}
        
        <div id="wrapper">
        {% block body %}
        {% endblock %}
        </div>

        {% block footer %}
        <!-- Footer -->
            <footer id="footer" class="wrapper style1-alt">
                <div class="inner">
                    <ul class="menu">
                        <li>&copy; leShow. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </footer>
        {% endblock footer %}
        
        {% block javascripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        </script>

        <!-- Scripts -->
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.scrollex.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
            <script src="{{ asset('assets/js/skel.min.js') }}"></script>
            <script src="{{ asset('assets/js/util.js') }}"></script>
            <!-- <[if lte IE 8]><script src="{{ asset('assets/js/ie/respond.min.js') }}"></script><[endif]> -->
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>