{% extends "::base.html.twig" %}

{% block header %}
	{{ parent() }}
{% endblock header %}

{% block sidebar %}{% endblock %}

{% block body %}
<center>
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
           {{ message }}
        {% endfor %}
  
    {% endfor %}
<br>
	{{ form_start(rezervationForm) }}
		<div class="4u">
			{{ form_row(rezervationForm.details) }}
		</div>

		<br>

		{{ form_widget(rezervationForm.submit)}}
	{{ form_end(rezervationForm) }}
</center>
{% endblock %}