{% extends "::base.html.twig" %}

{% form_theme rezervationForm _self %}

{% block sidebar %}{% endblock %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    <table>
    {%- for child in form %}
    {% if loop.index0 is divisible by (9) %}</tr>
    <tr>
        <td>
            <h4>{{ loop.index0/9 + 1 }}</h4>
        </td>
    {% endif %}

    <td>

            {{- form_widget(child) -}} 
            {{- form_label(child, loop.index0+1 , {translation_domain: choice_translation_domain}) -}}
        </td>
    
    {% endfor -%}
    </table>
    </div>
{%- endblock choice_widget_expanded -%}

{% block body %}
<center>
        <div class="4u$">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                   <div style="color:red">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
            <br>
    	{{ form_start(rezervationForm) }}
        
            <div class="4u$">
                {{ form_row(rezervationForm.details) }}
                {{ form_row(rezervationForm.spectate) }}
                <div id="reprezentation">
                    {% if rezervationForm.reprezentation is defined %}
                        {{ form_row(rezervationForm.reprezentation) }}
                    {% endif %}
                </div>
            </div>
            <div class="8u$">
            	<div id="seats">
                    {% if rezervationForm.seats is defined %}
                        {{ form_row(rezervationForm.seats) }} 
                    {% endif %}
            	</div>
            </div>
            <div class="4u$">
                <br>
                {{ form_row(rezervationForm.submit) }}
            </div>
            {{ form_rest(rezervationForm) }}
        {{ form_end(rezervationForm) }}
</center>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
	 {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {

            var $spectate = $('#rezervation_form_type_spectate');

            $spectate.change(function() {
                
                var $form = $(this).closest('form');
                var data = {};
                
                data[$spectate.attr('name')] = $spectate.val();
                
                $.ajax({
                    url : $form.attr('action'),
                    type: $form.attr('method'),
                    data : data,
                    success: function(html) {
                        $('#reprezentation').html(
                            $(html).find('#rezervation_form_type_reprezentation').parent()
                        );
                        
                        var $reprezentation = $('#rezervation_form_type_reprezentation');
                        
                        $reprezentation.change(function() {
                                                        
                        var $form = $(this).closest('form');
                        var data = {};
                                                        
                        data[$reprezentation.attr('name')] = $reprezentation.val();
                                                        
                            $.ajax({
                                url : $form.attr('action'),
                                type: $form.attr('method'),
                                data : data,
                                success: function(html) {
                                    $('#seats').html(
                                        $(html).find('#rezervation_form_type_seats').parent()
                                    );
                                }
                            });
                        });
                    }
                });
            });
    });
    </script>
{% endblock %}