{% if is_granted('ROLE_SPECTATOR') %}
   		<center>
   		<h2>Welcome to your {{ 'user.profile.view' | trans() }}</h2>
   		</center>
   		<table>
   		<tr>
   			<td><b>Name:</b></td>
   			<td>{{ user.firstName }} {{ user.lastName }}</td>
   		</tr>
   		<tr>
   			<td><b>Username:</b></td>
   			<td>{{ user.username }}</td>
   		</tr>
   		<tr>
   			<td><b>Contact Number:</b></td>
   			<td>{{ user.contactNumber }}</td>
   		</tr>
   		<tr>
   			<td><b>Email:</b></td>
   			<td>{{ user.email }}</td>
   		</tr>
   		<tr>
			<td colspan="2">
			<center>
				<a href="{{ url('user_profile_edit') }}" 
		   	       class="button small">
		   	       {{ 'user.profile.edit' | trans }}</a>
		   	    <a href="{{ url('fos_user_change_password') }}" 
		   		   class="button small">
		   		   {{ 'user.profile.change_password' | trans }}</a>
		   	    <a href="" 
		   		   class="button small">
		   		   View your reservations</a>
		   	</center>
			</td>
   		</tr>
   		</table>
{% endif %}
