{% extends "::base.html.twig" %}

{% block header %}
	{{ parent() }}
{% endblock header %}

{% block sidebar %}{% endblock %}

{% block body %}
<br>
<div class="row">
	<blockquote>{{ spectate.description }}</blockquote>
	<br>
		<ul class="alt">
			<li><b>Name:</b> {{ spectate.name }}</li>
			<li>{{ spectate.author }}</li>
			<li>{{ spectate.director }}</li>
			<li>{{ spectate.duration }}</li>
		</ul>

						<div class="6u">
							<span class="image right">
								<img src="{% path spectate.image, 'reference' %}" />
							</span>
						</div>
	
</div>
{% endblock %}

{% block footer %}{% endblock %}
