{% extends "::base.html.twig" %}

{% block header %}
	{{ parent() }}
{% endblock header %}

{% block sidebar %}{% endblock %}

{% block body %}

<div class="4u">
{% if reprezentation %}
		{{ spectate.name }} | 
		{{ spectate.author }} | 
		{{ spectate.description }}
		<br>
	{% for r in reprezentation %}
		{{ r.location }}
		<br>
	{% endfor %}
{% else %}
	<h2>No Results Found</h2>
	<br>
	<a href="{{ url('spectate_listing_details', {'spectate' :spectate.id }) }}"
	   class="button">
	   Go back to {{ spectate.name }} details</a>
{% endif %}
</div>

{% endblock %}
