{% extends "::base.html.twig" %}

{% block sidebar %}{% endblock %}

{% block body %}
<selection class="wrapper style2 spotlights">
	<div class="content">
		<div class="inner">
			<span class="image right">
				<img src="{% path spectate.image, 'reference' %}" />
			</span>

	
			<ul class="alt">
				<li><b>Name:</b> {{ spectate.name }}</li>
				<li>{{ spectate.author }}</li>
				<li>{{ spectate.director }}</li>
				<li>{{ spectate.duration }}</li>
			</ul>
			<blockquote>{{ spectate.description }}</blockquote>
		</div>
	</div>
</selection>

{% endblock %}

{% block footer %}{% endblock %}
